{% extends 'rango/base.html' %}

{% block title %}Register{% endblock %}

{% block body_block %}
    <div class="page-header">
        <h1>Register</h1>
    </div>

    <form class="form-horizontal" enctype="multipart/form-data" id="user_register_profile" method="post" action="{% url 'register_profile' %}">
        {% csrf_token %}
        <div class="form-group">
            <label for="id_website" class="control-label">Website URL</label>
            <input class="form-control" placeholder="Your Website's URL" id="id_website" value="{{ form.website.value }}" name="website" type="url"/>
        </div>

        <div class="form-group">
            <label for="id_picture">Picture</label>
            <input placeholder="Picture" id="id_picture" name="picture" type="file"/>
        </div>

        <div class="form-group">
            <button class="btn btn-default" type="submit" value="Register">Register</button>
        </div>
    </form>
{% endblock %}

